.container_cd {
    color: #fffefe;
    margin: 0 auto;
    text-align: center;
    bottom:auto;
  }

  
  li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding:0 1em 1em 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 70px;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }

  @media(max-width:500px){
    li {
      display: inline-block;
      font-size: 0.8em;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }
    
    li span {
      display: block;
      font-size: 3rem;
    }
  }